<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="vision.genesis.clientapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <uses-feature
        android:name="android.permission.VIBRATE"
        android:required="false"/>

    <application
        android:name=".GenesisVisionApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@string/icon"
        android:label="@string/app_name"
        android:roundIcon="@string/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base.Light"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".feature.splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".feature.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>

        <activity
            android:name=".feature.main.program.ProgramDetailsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".feature.main.program.invest.InvestProgramActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".feature.main.program.withdraw.WithdrawProgramActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".feature.main.wallet.deposit.DepositWalletActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".feature.main.wallet.withdraw.WithdrawWalletActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".feature.auth.login.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".feature.auth.registration.RegistrationActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".feature.auth.email_verification.EmailVerificationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".feature.common.image_crop.ImageCropActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".feature.auth.forgot_password.ForgotPasswordActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateVisible|adjustResize"/>

        <activity
            android:name=".feature.main.tooltip.TooltipActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".feature.main.search.SearchActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentActivityTheme"
            android:windowSoftInputMode="stateVisible"/>

        <activity
            android:name=".feature.two_factor.setup.SetupTfaActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>

        <activity
            android:name=".feature.two_factor.disable.DisableTfaActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustResize|stateVisible"/>

        <activity
            android:name=".feature.two_factor.check.CheckTfaActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>

        <activity
            android:name=".feature.main.profile.ProfileActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>

        <activity
            android:name=".feature.pin.check.CheckPinActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>

        <activity
            android:name=".feature.pin.set.SetPinActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".feature.pin.fingerprint.VerifyFingerprintActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>

        <activity
            android:name=".feature.main.portfolio_events.PortfolioEventsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>

        <activity
            android:name=".feature.main.notifications.NotificationsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".feature.main.manager.ManagerDetailsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".feature.main.notifications.settings.NotificationsSettingsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".feature.main.notifications.program.ProgramNotificationsSettingsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".feature.main.notifications.create.CreateCustomNotificationSettingActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".feature.main.fund.FundDetailsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".feature.main.fund.invest.InvestFundActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".feature.main.fund.withdraw.WithdrawFundActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".feature.main.settings.security.SecurityActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".feature.main.settings.security.change_password.ChangePasswordActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".feature.main.notifications.fund.FundNotificationsSettingsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".feature.main.filters.FiltersActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".feature.main.wallet.specific_wallet.SpecificWalletActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".feature.main.wallet.transfer_funds.TransferFundsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".feature.main.wallet.transaction_details.TransactionDetailsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".feature.main.facet.programs.ProgramsFacetActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".feature.main.facet.funds.FundsFacetActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".feature.main.facet.follows.FollowsFacetActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".feature.main.rating.ProgramsRatingActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".feature.main.about_levels.AboutLevelsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".feature.main.copytrading.create_account.CreateCopytradingAccountActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".feature.main.copytrading.subscription_settings.SubscriptionSettingsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".feature.main.copytrading.unfollow_trades.UnfollowTradesActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".feature.main.wallet.copytrading_account_details.CopytradingAccountDetailsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".feature.main.copytrading.open_trade_details.OpenTradeDetailsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".feature.main.wallet.transfer_copytrading_account.TransferCopytradingAccountActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".feature.main.dashboard.investments.details.InvestmentsDetailsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".feature.main.dashboard.trading.details.TradingDetailsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".feature.main.fund.create.CreateFundActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".feature.main.fund.add_asset.AddAssetActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan"/>

        <activity
            android:name=".feature.main.trading_account.create.CreateAccountActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".feature.main.trading_account.TradingAccountDetailsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".feature.main.program.create.CreateProgramActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".feature.main.follow.create.CreateFollowActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".feature.common.public_info.edit.EditPublicInfoActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".feature.main.follow.edit.EditFollowSettingsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name=".feature.main.trading_account.manage.ManageTradingAccountActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".feature.main.trading_account.change_broker.ChangeBrokerActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".feature.main.trading_account.change_password.ChangeTradingAccountPasswordActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".feature.main.program.manage.ManageProgramActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".feature.main.program.change_settings.ChangeProgramSettingsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".feature.main.fund.manage.ManageFundActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".feature.main.fund.change_settings.ChangeFundSettingsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".feature.main.fund.reallocate.ReallocateFundActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>
