<manifest package="vision.genesis.clientapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".GenesisVisionApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".feature.splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".feature.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <activity
            android:name=".feature.auth.AuthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <activity
            android:name=".feature.tournament.TournamentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name=".feature.main.traders.details.TraderDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".feature.main.traders.filter.TradersFiltersActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".feature.main.program_withdraw.WithdrawProgramActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

    </application>

</manifest>
