<manifest package="vision.genesis.clientapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".GenesisVisionApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".feature.splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".feature.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">

        </activity>

        <activity
            android:name=".feature.tournament.TournamentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name=".feature.main.program.details.ProgramDetailsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".feature.main.program.filter.ProgramsFiltersActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".feature.main.program.invest.InvestProgramActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".feature.main.program.withdraw.WithdrawProgramActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".feature.main.wallet.deposit.DepositWalletActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".feature.main.wallet.withdraw.WithdrawWalletActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".feature.main.program.requests.RequestsActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".feature.auth.login.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".feature.auth.registration.RegistrationActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".feature.auth.email_verification.EmailVerificationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".feature.main.program.details.description.ProgramDescriptionActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".feature.main.profile.ImageCropActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".feature.main.message.MessageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".feature.main.program.history.ProgramHistoryActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".feature.main.program.trades.TradesActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".feature.auth.forgot_password.ForgotPasswordActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateVisible"/>

        <activity
            android:name=".feature.main.profile.change_password.ChangePasswordActivity"
            android:launchMode="singleTop"
            android:theme="@style/SwipeBackActivityTheme"
            android:windowSoftInputMode="stateVisible"/>

        <activity
            android:name=".feature.main.program.chart.ChartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>
